/* App.css */

.App {
    position: relative;
    height: 100vh;
  }
  
  /* Chatbot Button Style */
  .chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  /* Chat Icon Style */
  .chat-icon {
    width: 90px;
    height: 90px;
    /* background-image: url(../public/images/chat-icon.png); */
    /* background-image: url(../public/image/chat-icon.png); */

  }
  
  /* Chatbox Style */
  .chatbox {
    position: fixed;
    bottom: 123px;
    right: 38px;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Messages Area */
  .chatbox-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  .chat-message {
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  /* Form Styles */
  .chatbox-form {
    display: flex;
  }
  
  .chatbox-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chatbox-send {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  
  
  
  
  
  
  /* App.css */
  
  /* Other styles remain the same */
  
  /* Messages Area */
  .chatbox-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  /* General message style */
  .chat-message {
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 5px;
    max-width: 70%;
    word-wrap: break-word;
    width: auto;
  }
  
  /* User messages aligned to the right */
  .user-message {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    text-align: left;
    margin-bottom: 16px;  
    
  }
  
  /* Bot messages aligned to the left */
  .bot-message {
    background-color: #f1f1f1;
    color: black;
    align-self: flex-start;
    text-align: left;
    margin-bottom: 16px;
    margin-left: 30%;
  
  }
  
  /* Form Styles */
  .chatbox-form {
    display: flex;
  }
  
  .chatbox-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chatbox-send {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  